<section class="section cases">
  <div class="container">
    <h2 class="cases-title">This is what we do</h2>
    <h3 class="cases-subtitle">Business Cases</h3>
    <p class="cases-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="cases-list">
      <li class="cases-items">
        <img
          src="./images/business-cases/Rectangle1.jpg"
          alt="acquaintance"
          width="320"
          height="214"
        />
      </li>
      <li class="cases-items">
        <img
          src="./images/business-cases/Rectangle2.jpg"
          alt="statistics"
          width="320"
          height="214"
        />
      </li>
      <li class="cases-items">
        <img
          src="./images/business-cases/Rectangle3.jpg"
          alt="conclusion-of-the-contract"
          width="320"
          height="214"
        />
      </li>
      <li class="cases-items">
        <img
          src="./images/business-cases/Rectangle4.jpg"
          alt="Teamwork"
          width="320"
          height="214"
        />
      </li>
      <li class="cases-items">
        <img
          src="./images/business-cases/Rectangle5.jpg"
          alt="personal-work"
          width="320"
          height="214"
        />
      </li>
      <li class="cases-items">
        <img
          src="./images/business-cases/Rectangle6.jpg"
          alt="perspectives"
          width="320"
          height="214"
        />
      </li>
      <li class="cases-items">
        <img
          src="./images/business-cases/Rectangle7.jpg"
          alt="coffee-break"
          width="320"
          height="214"
        />
      </li>
      <li class="cases-items">
        <img
          src="./images/business-cases/Rectangle8.jpg"
          alt="friendly-atmosphere"
          width="320"
          height="214"
        />
      </li>
    </ul>
  </div>
</section>
